@charset "UTF-8";

/*Hides any unwanted titles*/
.hidden
{
	display: none;
}

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */
body { background-image:url(../images/grungeBG.jpeg);
	background-repeat:no-repeat; background-position:center center; background-size: cover;
	background-color:#000000; font-size:16px; }

h2 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main {
	position:relative;
	width:100%;
	text-align:center;
	top:30px;
}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:0 auto;
	overflow:hidden;
}

#houseImages { position:relative; width:6000px; /*transition: all .5s;*/ }
#houseImages img { float:left; }

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigil-container {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position:-50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position:-101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position:-152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position:-202px -54px; }
.greyjoy:hover { background-position:-202px 0px; }

.arryn { background-position:-253px -54px; }
.arryn:hover { background-position:-253px 0px; }

.targaryen { background-position:-304px -54px; }
.targaryen:hover { background-position:-304px 0px; }

.frey { background-position:-355px -54px; }
.frey:hover { background-position:-355px 0px; }

.tyrell { background-position:-406px -54px; }
.tyrell:hover { background-position:-406px 0px; }
/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/*House Text Styling*/

/*Styles house name*/
.house-name {
	font-size: 2rem;
	letter-spacing: 2px;
	margin-top: 30px;
}

/*Styles house information*/
.house-info {
	color: white;
	font-size: 1.05em;
	line-height: 1.4em;
	margin: 20px auto 20px auto;
	width: 65%;
	letter-spacing: 1px;
}

/*Lightbox Styling*/

/*Styles lightbox*/
.lightbox{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.85);
	display: none;
}

/*Shows lightbox*/
.show-lightbox { display: block; }

/*Resizes video*/
video {
	height: 75%;
	margin-top: 3%;
	margin-bottom: 15px;
	border: thin solid #666666;
}

/*Styles lightbox close button*/
.lightbox-close {
	position: absolute;
	color: white;
	right: 12px;
	top: 12px;
	cursor: pointer;
	font-size: 2em;
}

/*Controls Styling*/

.controls {
	width: 450px;
	margin: 0 auto;
	background-color: #111;
	border-radius: 10px;
	border: thin solid #666666;
	display: flex;
	flex-direction: row;
	opacity: 0.9;
	padding: 5px;
}

.buttons {
	margin-left: 35px;
}

.controls button {
	background-color: none;
	border: none;
	margin: 5px;
	opacity: 0.8;
	-moz-transition: 0.25s;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

.controls button:hover {
	opacity: 1;
	cursor: pointer;
}

.rewind, .fastForward {
	width: 25px;
	height: 30px;
}

.rewind {
	background: url(../images/rewind_button.svg) center no-repeat;
}

.fastForward {
	background: url(../images/fast_forward_button.svg) center no-repeat;
}

.pause, .play {
	width: 30px;
	height: 30px;
}

.pause {
	background: url(../images/pause_button.svg) center no-repeat;
	display: none;
}

.play {
	background: url(../images/play_button.svg) center no-repeat;
	display: none;
}

.play.show, .pause.show {
	display: inline;
}

.slider{
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-top: 7px;
	margin-left: 15px;
}

/*Styles volume slider*/
.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 3px;
  background: #999;
  opacity: 0.8; 
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: opacity 0.25s;
  margin-right: 10px;
  margin-top: 7px;
}

/*Increases volume slider opacity on hover*/
.volume:hover {
  opacity: 1;
}

/*Changes look of volume handle*/
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #FFF;
  cursor: pointer;
}

/*Changes look of volume handle*/
.volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
}

/*Styles volume text*/
.slider p
{
	color: white;
	font-size: 1.05em;
	letter-spacing: 1px;
}